
$roboto-font-path: "../font/roboto";
@font-face {
  src: url("#{$roboto-font-path}/Roboto-Bold.ttf") format("truetype");
  font-family: "Roboto-Bold";
  font-weight: 700;
}

@font-face {
  src: url("#{$roboto-font-path}/Roboto-Medium.ttf") format("truetype");
  font-family: "Roboto-Medium";
  font-weight: 500;
}

@font-face {
  src: url("#{$roboto-font-path}/Roboto-Regular.ttf") format("truetype");
  font-family: "Roboto";
  font-weight: 400;
}

// variables
$body-font: "Roboto", Arial, Helvetica, sans-serif;
$body-font-medium: "Roboto-Medium", Arial, Helvetica, sans-serif;
$body-font-bold: "Roboto-Bold", Arial, Helvetica, sans-serif;
$red: #EB0028;
$black: #000;
$lightGray: #9B9B9B;
$gray: #929292;
$white: #fff;
$borderColor: #E9E9E9;
$textColor: #969696;

* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  color: $black;
  position: relative;
}

a {
  text-decoration: none;
}

ul {
  li {
    list-style: none;
  }
}

button {
  border: 0;
  background-color: unset;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1240px;
  padding: 0 20px;
  margin: auto;
}

header {
  top: 0;
  z-index: 3;
  background-color: $white;
}

.header {
  &__top {
    display: flex;
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 20px 16px;
  }
  &__menu {
    &_mobile {
      visibility: hidden;
      text-align: left;
      width: 48px;
      height: 48px;
    }
  }
  &__search {
    width: 48px;
    height: 48px;
    text-align: right;
  }
}

.menu {
  &__block {
    border-top: 1px solid $borderColor;
    border-bottom: 1px solid $borderColor;
    background-color: $white;
    width: 100%;
    position: absolute;
    top: 82px;
    z-index: 99;
  }
  &__list {
    display: flex;
    justify-content: center;
  }
  &__item {
    position: relative;
    padding: 21px 0 19px;
  }
  &__item + &__item {
    padding-left: 32px;
  }
  &__link {
   padding-bottom: 30px;
   span {
    font-size: 1rem;
    line-height: 1rem;
    font-family: $body-font-medium;
    color: $black;
    font-weight: 500;
   }
  }
  &__submenu {
    &__list {
      display: none;
      position: absolute;
      background-color: $white;
      transition: all .3s ease !important;
      padding: 20px 21px 20px 20px;
      border: 1px solid $borderColor;
      top: 58px;
      z-index: 2;
      min-width: 176px;
      span {
        color: $black;
        font-size: 0.8125rem;
        line-height: 0.8125rem;
        font-family: $body-font;
      }
    }
    &__item {
      padding: 8px 0;
      &:first-child {
        padding: 0 0 8px;
      }
      &:last-child {
        padding: 8px 0 0;
      }
      &:not(:last-child) {
        border-bottom: 1px solid $borderColor;
      }
    }
    &__link {
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: all .3s ease;
      span {
        white-space: nowrap;
        transition: all .3s ease;
      }
      img {
        transform: rotate(-90deg);
      }
      &:hover {
        span {
          color: $textColor;
          padding-left: 8px;
        }
      }
    }
  }
}

.menu__item:hover .menu__submenu {
  &__list {
    display: block;
  }
}

.menu {
  &__header {
    &_mobile {
      display: none;
    }
  }
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
}

.product {
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 0;
    padding-top: 96px;
    padding-bottom: 166px;
  }
  &__item {
    width: 33.33%;
    padding: 0 20px;
  }
  &__link {
    display: inline-block;
  }
  &__img {
    max-width: 100%;
  }
  &__desc {
    padding-top: 1rem;
  }
  &__type {
    color: $red;
    font-size: 0.8125rem;
    line-height: 0.8125rem;
    font-family: $body-font-bold;
    font-weight: 700;
    padding-bottom: 1rem;
  }
  &__title {
    font-size: 1.5rem;
    line-height: 1.875rem;
    font-family: $body-font-bold;
    padding-bottom: 1rem;
    color: $black;
  }
  &__text {
    color: $gray;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-family: $body-font;
  }
}

.info {
  &__list {
    display: flex;
    padding-bottom: 1rem;
  }
  &__item {
    font-size: 0.75rem;
    line-height: 0.75rem;
    font-weight: 500;
    font-family: $body-font-medium;
    color: $black;
    &:not(:first-child) {
      color: $lightGray;
      font-weight: 400;
      font-family: $body-font;
      padding-left: 13px;
      position: relative;
      &::before {
        content: '';
        background-color: $lightGray;
        position: absolute;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        left: 6px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .header {
    &__container {
      padding: 26px 10px 20px;
    }
    &__menu {
      &_mobile {
        visibility: visible;
      }
    }
    &__close {
      width: 48px;
      height: 48px;
      text-align: right;
    }
  }
  .menu {
    &__block {
      position: absolute;
      transform: translateX(-320px);
      left: -320px;
      transition: all 1s;
      top: 0;
      background-color: $white;
      border: 1px solid $borderColor;
      height: 100vh;
      z-index: 10;
      max-width: 320px;
    }
    &__list {
      display: block;
        background-color: $white;
        height: calc(100vh - 80px);
        padding-top: 17px;
    }
    &__item {
      padding: 16px 0 0;
      position: relative;
      &:not(:first-child) {
        padding-top: 16px;
      }
      &:not(:last-child) {
        border-bottom: 1px solid $borderColor;
      }
    }
    &__item + &__item {
      padding-left: 0;
    }
    &__link {
      display: inline-flex;
      align-items: center;
      padding-bottom: 16px;
      img {
        margin-left: 4px;
       }
    }
    &__submenu {
      &__list {
        position: relative;
        top: 0;
        border: 0;
        padding: 0 12px;
        margin-top: -5px;
      }
      &__item {
        &:last-child {
          padding: 8px 0;
        }
      }
    }
  }
  .mobile-menu.menu {
    &__block {
      display: block;
      width: 100%;
      max-width: 320px;
      position: fixed;
      transform: translateX(0);
      left: 0;
      transition: all 1s;
    }
  }
  .mobile-menu {
    .menu {
      &__header {
        &_mobile {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 22px 20px 11px;
          border-bottom: 1px solid $borderColor;
        }
      }
    }
  }
  .product {
    &__list {
      padding-top: 0;
    }
    
    &__item {
      padding: 0 10px;
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    &__container {
      padding: 26px 5px 20px;
    }
  }
  .product {
    &__list {
      gap: 32px 0;
    }
    &__item {
      width: 50%;
      padding: 0 5px;
    }
  }
}

@media screen and (max-width: 600px) {
  .header {
    &__container {
      padding: 26px 0 20px;
    }
  }
  .product {
    &__list {
      gap: 32px 0;
      padding-bottom: 80px;
    }
    &__item {
      width: 100%;
      padding: 0;
    }
    &__img {
      min-width: 100%;
    }
  }
}